body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: ivory;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: plum;
}

p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}